body {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #eeeeee;
}

hr {
  border-style: none;
  border-top-style: dashed;
  border-top-color: #222831;
  border-width: 7px;
}

h1 {
  color: #222831;
}
h2,h3,h4,h5,h6 {
  color: #7971ea;
}

p {
  color: #393e46;
}

a {
    text-decoration: none;
}

.link:hover {
  color: #393e46;
}

#td {
  width: auto;
}
